#  <span style='color:midnightblue'>  Multiple Regression Analysis to Determine Marketing Mix 

Source: Venkatesan et al., 2015: Cutting-Edge Marketing Analytics, pp. 103

In [4]:
library(knitr)
library(skimr)
library(lm.beta)
library(MASS)

##  <span style='color:royalblue'>  1. Load dataset </span>

In [1]:
df <- read.csv("./data_svedka.csv", sep = ";")

ERROR: Error in read_excel("./data_svedka.csv"): no se pudo encontrar la función "read_excel"

##  <span style='color:royalblue'>  2. Inspect dataset </span>

In [2]:
head(df,5)

  BrandName Brand.ID Year Absolut Aristocrat Barton Belvedere Burnett Chopin
1 Absolut   15       1995 1       0          0      0         0       0
2 Absolut   15       1996 1       0          0      0         0       0
3 Absolut   15       1997 1       0          0      0         0       0
4 Absolut   15       1998 1       0          0      0         0       0
5 Absolut   15       1999 1       0          0      0         0       0
  Crystal.Palac ... YearID total.ad X  X.1 X.2 X.3 X.4 X.5 X.6 X.7
1 0             ... 3      52343.9  NA NA  NA  NA  NA  NA  NA  NA
2 0             ... 4      52297.2  NA NA  NA  NA  NA  NA  NA  NA
3 0             ... 5      54947.9  NA NA  NA  NA  NA  NA  NA  NA
4 0             ... 6      57432.7  NA NA  NA  NA  NA  NA  NA  NA
5 0             ... 7      63213.9  NA NA  NA  NA  NA  NA  NA  NA

In [5]:
skim(df)

── Data Summary ────────────────────────
                           Values
Name                       df
Number of rows             263
Number of columns          75
_______________________
Column type frequency:
  factor                   2
  logical                  8
  numeric                  65
________________________
Group variables            None

── Variable type: factor ───────────────────────────────────────────────────────
  skim_variable n_missing complete_rate ordered n_unique
1 BrandName             0             1 FALSE         27
2 diff                  0             1 FALSE         63
  top_counts
1 Abs: 13, Ari: 13, Bar: 13, Cry: 13
2 2%: 20, 3%: 13, 4%: 13, 0%: 12

── Variable type: logical ──────────────────────────────────────────────────────
  skim_variable n_missing complete_rate  mean count
1 X                   263             0   NaN ": "
2 X.1                 263             0   NaN ": "
3 X.2                 263             0   NaN ": "
4 X.3                 263             0   NaN ": "
5 X.4                 263             0   NaN ": "
6 X.5                 263             0   NaN ": "
7 X.6                 263             0   NaN ": "
8 X.7                 263             0   NaN ": "

── Variable type: numeric ──────────────────────────────────────────────────────
   skim_variable       n_missing complete_rate         mean          sd
 1 Brand.ID                    0         1         12.6          7.65
 2 Year                        0         1       2002.           3.64
 3 Absolut                     0         1          0.0494       0.217
 4 Aristocrat                  0         1          0.0494       0.217
 5 Barton                      0         1          0.0494       0.217
 6 Belvedere                   0         1          0.0266       0.161
 7 Burnett                     0         1          0.0418       0.201
 8 Chopin                      0         1          0.0266       0.161
 9 Crystal.Palac               0         1          0.0494       0.217
10 Finlandia                   0         1          0.0494       0.217
11 Fleischmann.s               0         1          0.0456       0.209
12 Fris                        0         1          0.0380       0.192
13 Gilbey.s                    0         1          0.0494       0.217
14 Gordon.s                    0         1          0.0494       0.217
15 Grey.Goose                  0         1          0.0342       0.182
16 Kamchatka                   0         1          0.0494       0.217
17 Ketel.One                   0         1          0.0304       0.172
18 Level                       0         1          0.00760      0.0870
19 McCormick                   0         1          0.0380       0.192
20 Polar.Ice                   0         1          0.0114       0.106
21 Popov                       0         1          0.0494       0.217
22 Pravda                      0         1          0.00760      0.0870
23 Seagram.s                   0         1          0.00380      0.0617
24 Skol                        0         1          0.0494       0.217
25 Sky                         0         1          0.0380       0.192
26 Smirnoff                    0         1          0.0494       0.217
27 Stolicnaya                  0         1          0.0494       0.217
28 Tanqueray                   0         1          0.0342       0.182
29 Three.Olives                0         1          0.0228       0.150
30 TotalSales                  0         1       1400.        1598.
31 LagTotalSales               0         1       1348.        1544.
32 X2LagTotalSales             0         1       1303.        1503.
33 LnSales                     0         1          6.71         1.11
34 LnLSales                    0         1          6.64         1.16
35 Ln2Lsales                   0         1          6.57         1.22
36 LnDiff                      0         1          0.0640       0.179
37 IfDom                       0         1          0.612        0.488
38 DollarSales                 0         1     113913.      166366.
39 PriceRerUnit                0         1         83.7         57.1
40 LagPrice                   13         0.951    233.        1721.
41 LnPrice                     0         1          4.22         0.633
42 LnLPrice                   13         0.951      4.22         0.793
43 Mag                         0         1       3280.        6691.
44 News                        0         1        194.         550.
45 Outdoor                     0         1        162.         467.
46 Broad                       0         1        276.        1044.
47 Print                       0         1       3474.        6878.
48 LnMag                       0         1          3.03         4.15
49 LnNews                      0         1          1.55         2.68
50 LnOut                       0         1          1.35         2.53
51 LnBroad                     0         1          0.981        2.43
52 LnPrint                     0         1          3.34         4.22
53 Tier1                       0         1          0.232        0.423
54 Tier2                       0         1          0.247        0.432
55 TotalMinusSales             0         1      62654.        1600.
56 LagTotalMinusSales          0         1      62674.        1548.
57 TierSales                   0         1       9547.        2917.
58 OutsideTierSales            0         1      53107.        2260.
59 LagTierSales                0         1       9216.        2947.
60 LagOutsideTierSales         0         1      53458.        2327.
61 Firstintro                  0         1          0.0152       0.123
62 Marketshare                 0         1          0.0470       0.0538
63 LagMktshare                 0         1          0.0475       0.0547
64 YearID                      0         1          9.70         3.64
65 total.ad                    0         1       7386.       14281.
             p0         p25         p50          p75       p100 hist
 1     1            6          12           18           31     ▇▆▅▅▁
 2  1995         1999        2002         2005         2007     ▅▃▇▅▇
 3     0            0           0            0            1     ▇▁▁▁▁
 4     0            0           0            0            1     ▇▁▁▁▁
 5     0            0           0            0            1     ▇▁▁▁▁
 6     0            0           0            0            1     ▇▁▁▁▁
 7     0            0           0            0            1     ▇▁▁▁▁
 8     0            0           0            0            1     ▇▁▁▁▁
 9     0            0           0            0            1     ▇▁▁▁▁
10     0            0           0            0            1     ▇▁▁▁▁
11     0            0           0            0            1     ▇▁▁▁▁
12     0            0           0            0            1     ▇▁▁▁▁
13     0            0           0            0            1     ▇▁▁▁▁
14     0            0           0            0            1     ▇▁▁▁▁
15     0            0           0            0            1     ▇▁▁▁▁
16     0            0           0            0            1     ▇▁▁▁▁
17     0            0           0            0            1     ▇▁▁▁▁
18     0            0           0            0            1     ▇▁▁▁▁
19     0            0           0            0            1     ▇▁▁▁▁
20     0            0           0            0            1     ▇▁▁▁▁
21     0            0           0            0            1     ▇▁▁▁▁
22     0            0           0            0            1     ▇▁▁▁▁
23     0            0           0            0            1     ▇▁▁▁▁
24     0            0           0            0            1     ▇▁▁▁▁
25     0            0           0            0            1     ▇▁▁▁▁
26     0            0           0            0            1     ▇▁▁▁▁
27     0            0           0            0            1     ▇▁▁▁▁
28     0            0           0            0            1     ▇▁▁▁▁
29     0            0           0            0            1     ▇▁▁▁▁
30    42          485         871         1698.        9015     ▇▁▁▁▁
31    27          438.        842         1604.        8505     ▇▂▁▁▁
32    18          367         810         1537         8149     ▇▂▁▁▁
33     3.74         6.18        6.77         7.44         9.11  ▂▃▇▇▂
34     3.30         6.08        6.74         7.38         9.05  ▁▂▇▇▂
35     2.89         5.91        6.70         7.34         9.01  ▁▂▆▇▂
36    -0.563       -0.0159      0.0421       0.0997       1.15  ▁▇▂▁▁
37     0            0           1            1            1     ▅▁▁▁▇
38  4690        23691       44658       100913.      786721     ▇▁▁▁▁
39    27.3         38.0        56.4        122          250.    ▇▂▃▁▁
40    27.3         37.8        50.9        117.       20806     ▇▁▁▁▁
41     3.31         3.64        4.03         4.80         5.52  ▇▃▂▆▂
42     3.31         3.63        3.93         4.76         9.94  ▇▃▁▁▁
43     1            1           1         3599.       33971.    ▇▁▁▁▁
44     0.3          1           1           56.6       3525.    ▇▁▁▁▁
45     1            1           1            8.75      3255.    ▇▁▁▁▁
46     0.6          1           1            1         7827.    ▇▁▁▁▁
47     2            2           2         4049.       34505.    ▇▁▁▁▁
48     0            0           0            8.12        10.4   ▇▁▁▁▃
49    -1.20         0           0            3.41         8.17  ▇▁▁▁▁
50     0.00001      0.00001     0.00001      0.00001      8.09  ▇▁▁▁▁
51    -0.511        0.00001     0.00001      0.00001      8.97  ▇▁▁▁▁
52     0.00001      0.00001     0.00001      8.31        10.4   ▇▁▁▂▃
53     0            0           0            0            1     ▇▁▁▁▂
54     0            0           0            0            1     ▇▁▁▁▂
55 55209        62434       63210        63616        64163     ▁▁▁▂▇
56 55687        62459       63204        63616        64131     ▁▁▁▂▇
57   846         8152.      10605        11209        15790     ▁▁▂▇▁
58 48358        51863       52335        54570        59760     ▁▇▂▂▁
59   697         7493       10400        11128.       14299     ▁▁▂▇▂
60 49806        51947       52419        55392        59868     ▂▇▂▂▁
61     0            0           0            0            1     ▇▁▁▁▁
62     0.00147      0.0148      0.0295       0.0531       0.270 ▇▁▁▁▁
63     0.000971     0.0147      0.0292       0.0536       0.270 ▇▁▁▁▁
64     3            7          10           13           15     ▅▃▇▅▇
65     6            6           6         9691.       70489.    ▇▁▁▁▁

##  <span style='color:royalblue'>  3. Run a regression of the natural logarithm of change in sales on the natural logarithm of previous period’s prices. </span>

In [6]:
model1 <- lm(LnDiff ~ LnLPrice, df)
summary(model1)

Call:
lm(formula = LnDiff ~ LnLPrice, data = df)

Residuals:
     Min       1Q   Median       3Q      Max
-0.64941 -0.06471 -0.01342  0.03412  1.08970

Coefficients:
            Estimate Std. Error t value Pr(>|t|)
(Intercept) -0.11940    0.05915  -2.019  0.04459 *
LnLPrice     0.04155    0.01377   3.018  0.00281 **
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 0.1723 on 248 degrees of freedom
  (13 observations deleted due to missingness)
Multiple R-squared:  0.03543,	Adjusted R-squared:  0.03154
F-statistic:  9.11 on 1 and 248 DF,  p-value: 0.002807

##  <span style='color:royalblue'>  4. To understand the influence of vodka quality, run a regression by adding tier 1 and tier 2 dummy variables. </span>

In [7]:
model2 <- lm(LnDiff ~ LnLPrice + Tier1 + Tier2, df)
summary(model2)

Call:
lm(formula = LnDiff ~ LnLPrice + Tier1 + Tier2, data = df)

Residuals:
     Min       1Q   Median       3Q      Max
-0.69098 -0.07163 -0.01123  0.04441  1.02773

Coefficients:
            Estimate Std. Error t value Pr(>|t|)
(Intercept)  0.12206    0.08275   1.475 0.141466
LnLPrice    -0.03177    0.02222  -1.430 0.153922
Tier1        0.16245    0.04274   3.800 0.000182 ***
Tier2        0.13202    0.03271   4.037 7.25e-05 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 0.1667 on 246 degrees of freedom
  (13 observations deleted due to missingness)
Multiple R-squared:  0.1045,	Adjusted R-squared:  0.0936
F-statistic: 9.571 on 3 and 246 DF,  p-value: 5.316e-06

##  <span style='color:royalblue'>  5. Add the natural log of marketing expenditures on print, outdoor and broadcasting. </span>

In [8]:
model3 <- lm(LnDiff ~ LnLPrice + Tier1 + Tier2 + LnPrint + LnOut + LnBroad, df)
summary(model3)

Call:
lm(formula = LnDiff ~ LnLPrice + Tier1 + Tier2 + LnPrint + LnOut +
    LnBroad, data = df)

Residuals:
     Min       1Q   Median       3Q      Max
-0.74956 -0.05876 -0.00335  0.04323  1.03341

Coefficients:
             Estimate Std. Error t value Pr(>|t|)
(Intercept)  0.142982   0.082782   1.727  0.08540 .
LnLPrice    -0.037669   0.022229  -1.695  0.09144 .
Tier1        0.145045   0.057519   2.522  0.01232 *
Tier2        0.130454   0.043547   2.996  0.00302 **
LnPrint      0.009304   0.005070   1.835  0.06769 .
LnOut       -0.012798   0.006078  -2.106  0.03626 *
LnBroad     -0.004939   0.005350  -0.923  0.35676
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 0.1651 on 243 degrees of freedom
  (13 observations deleted due to missingness)
Multiple R-squared:  0.1329,	Adjusted R-squared:  0.1115
F-statistic: 6.207 on 6 and 243 DF,  p-value: 4.441e-06

##  <span style='color:royalblue'>  6. To understand the influence of competition, run a regression by adding the sum of sales of all the competing brands in the previous year (“lagtotalminussales”) to the set of independent variables. </span>

In [9]:
model4 <- lm(LnDiff ~ LnLPrice + Tier1 + Tier2 + LnPrint + LnOut + LnBroad + LagTotalMinusSales, df)
summary(model4)

Call:
lm(formula = LnDiff ~ LnLPrice + Tier1 + Tier2 + LnPrint + LnOut +
    LnBroad + LagTotalMinusSales, data = df)

Residuals:
     Min       1Q   Median       3Q      Max
-0.76515 -0.05951 -0.00818  0.04514  1.01927

Coefficients:
                     Estimate Std. Error t value Pr(>|t|)
(Intercept)        -1.788e+00  5.410e-01  -3.305 0.001096 **
LnLPrice           -5.719e-02  2.236e-02  -2.557 0.011155 *
Tier1               1.293e-01  5.632e-02   2.296 0.022557 *
Tier2               1.211e-01  4.259e-02   2.843 0.004851 **
LnPrint             1.150e-02  4.986e-03   2.306 0.021931 *
LnOut              -5.990e-03  6.225e-03  -0.962 0.336880
LnBroad             3.560e-03  5.728e-03   0.621 0.534867
LagTotalMinusSales  3.183e-05  8.818e-06   3.609 0.000373 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 0.1611 on 242 degrees of freedom
  (13 observations deleted due to missingness)
Multiple R-squared:  0.1772,	Adjusted R-squared:  0.1534
F-statistic: 7.445 on 7 and 242 DF,  p-value: 4.119e-08

##  <span style='color:royalblue'>  7. To measure the sales growth of new brands compared with the existent ones, include the variables “firstintro” to the variable set. </span>

In [10]:
model5 <- lm(LnDiff ~ LnLPrice + Tier1 + Tier2 + LnPrint + LnOut + LnBroad + 
               LagTotalMinusSales + Firstintro, df)
summary(model5)

Call:
lm(formula = LnDiff ~ LnLPrice + Tier1 + Tier2 + LnPrint + LnOut +
    LnBroad + LagTotalMinusSales + Firstintro, data = df)

Residuals:
     Min       1Q   Median       3Q      Max
-0.73740 -0.05241 -0.00542  0.04732  0.87169

Coefficients:
                     Estimate Std. Error t value Pr(>|t|)
(Intercept)        -1.624e+00  4.954e-01  -3.279 0.001197 **
LnLPrice           -8.645e-02  2.089e-02  -4.139 4.82e-05 ***
Tier1               1.273e-01  5.152e-02   2.471 0.014147 *
Tier2               1.287e-01  3.897e-02   3.303 0.001102 **
LnPrint             1.289e-02  4.565e-03   2.824 0.005134 **
LnOut              -7.868e-03  5.701e-03  -1.380 0.168835
LnBroad             7.590e-03  5.272e-03   1.440 0.151247
LagTotalMinusSales  3.093e-05  8.067e-06   3.835 0.000161 ***
Firstintro          5.427e-01  7.816e-02   6.943 3.53e-11 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 0.1474 on 241 degrees of freedom
  (13 observations deleted due to missingness)
Multiple R-squared:  0.3143,	Adjusted R-squared:  0.2916
F-statistic: 13.81 on 8 and 241 DF,  p-value: < 2.2e-16